@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
* {
    font-family: 'Sarabun', sans-serif;
}

/* body {
    background-color: #EED6D3; 
} */

html { scroll-behavior: smooth; } 

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* Home Component */
.prop {
    background-color: white;
    width: 75%;
    height: 20%;
    margin-left: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}


/* navbar Component */

/* Contact Component */
.contact-box {
    background-color: #FFF8F8;
    border-radius: 20px;
    width: auto;
    height: 100%;
}

/* Skill Component */
.Skill_list {
    margin-left: 20%;
}

/* Experience Component */

/* .position_list {

} */
